In [123]:
import pandas as pd #for working with dataframe
import numpy as np
from scipy import stats, integrate #will help in stats operation in histograms
import matplotlib.pyplot as plt #to plot the PE
import seaborn as sns #nice looking plots
%matplotlib inline
sns.set(color_codes=True)

In [124]:
ohio=pd.read_csv('Ohio.csv',encoding='utf-8'
                )

In [126]:
ohio['RecentYr'].describe()

count    2968.000000
mean     2009.166442
std         1.016510
min      2006.000000
25%      2008.000000
50%      2009.000000
75%      2010.000000
max      2011.000000
Name: RecentYr, dtype: float64

In [127]:
ohio[ohio['OpeningYear'].isnull()].describe() #what if we were to delete the rows which don't have a forecasted opening year ?

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYr,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,State
count,45.000000,0.0,0.0,45.000000,45.000000,21.000000,21.000000,45.000000,45.000000,12.000000,45.0,45.000000,45.0,45.0,45.0
mean,2006.000000,NaN,NaN,2030.533333,23569.244444,2005.809524,22043.809524,2009.377778,24139.555556,2010.416667,1.0,2.911111,6.0,1.0,41.0
std,0.953463,NaN,NaN,1.575379,19676.628861,1.123345,18265.783169,0.805912,21305.441575,1.240112,0.0,1.040590,0.0,0.0,0.0
min,2005.000000,NaN,NaN,2027.000000,4110.000000,2004.000000,3860.000000,2007.000000,3760.000000,2009.000000,1.0,1.000000,6.0,1.0,41.0
25%,2005.000000,NaN,NaN,2030.000000,10389.000000,2006.000000,8830.000000,2009.000000,14240.000000,2010.000000,1.0,3.000000,6.0,1.0,41.0
50%,2006.000000,NaN,NaN,2030.000000,17840.000000,2006.000000,19560.000000,2010.000000,16060.000000,2010.000000,1.0,3.000000,6.0,1.0,41.0
75%,2007.000000,NaN,NaN,2031.000000,25500.000000,2007.000000,24700.000000,2010.000000,23750.000000,2010.000000,1.0,3.000000,6.0,1.0,41.0
max,2009.000000,NaN,NaN,2035.000000,90660.000000,2007.000000,67230.000000,2010.000000,77990.000000,2013.000000,1.0,5.000000,6.0,1.0,41.0

In [128]:
ohio=ohio[ohio['OpeningYear'].notnull()] #the dataset that have Opening Year and Opening Year Forecast
#5325 of the 6184 have near actual opening year count and 2923 have recent year count.
#1403 have them actual opening year information.
ohio.describe()

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYr,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,State
count,6184.000000,6184.000000,6.184000e+03,6184.000000,6.184000e+03,5325.000000,5325.000000,2923.000000,2923.000000,1403.000000,6184.0,6182.000000,6184.0,4868.000000,6184.0
mean,2011.047219,2013.533473,2.855940e+04,2031.553687,3.368192e+04,2012.057653,26302.383099,2009.163189,27263.903524,2009.268710,1.0,3.092850,6.0,1.001233,41.0
std,5.334640,4.082227,3.805500e+04,5.652824,5.609153e+04,3.465601,33277.877396,1.019179,31226.933010,2.704634,0.0,1.497488,0.0,0.049639,0.0
min,1900.000000,2000.000000,0.000000e+00,2008.000000,8.000000e+01,2000.000000,0.000000,2006.000000,200.000000,2001.000000,1.0,1.000000,6.0,1.000000,41.0
25%,2008.000000,2010.000000,5.510000e+03,2028.000000,6.400000e+03,2009.000000,4750.000000,2008.000000,6530.000000,2008.000000,1.0,1.000000,6.0,1.000000,41.0
50%,2012.000000,2015.000000,1.424000e+04,2032.000000,1.694000e+04,2013.000000,12670.000000,2009.000000,14860.000000,2009.000000,1.0,3.000000,6.0,1.000000,41.0
75%,2015.000000,2017.000000,3.500750e+04,2036.000000,4.158250e+04,2015.000000,32890.000000,2010.000000,36480.000000,2012.000000,1.0,4.000000,6.0,1.000000,41.0
max,2017.000000,2025.000000,1.159100e+06,2050.000000,3.063000e+06,2015.000000,191217.000000,2011.000000,180470.000000,2014.000000,1.0,6.000000,6.0,3.000000,41.0

In [129]:
ohio_completion=ohio[ohio['ActualOpeningYear'].notnull()] #dataframe with rows that have a completion year available
ohio_completion.describe()

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYr,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,State
count,1403.000000,1403.000000,1403.000000,1403.000000,1403.000000,1403.000000,1403.000000,1353.000000,1353.000000,1403.000000,1403.0,1403.000000,1403.0,1403.0,1403.0
mean,2006.570919,2008.704918,29786.931575,2026.083393,35229.135424,2008.461867,27174.944405,2009.083518,26718.632668,2009.268710,1.0,3.025659,6.0,1.0,41.0
std,2.829901,2.772629,36066.131630,4.733349,41776.570696,2.824732,33920.589199,0.956743,32891.926947,2.704634,0.0,1.509616,0.0,0.0,0.0
min,1994.000000,2000.000000,250.000000,2008.000000,260.000000,2000.000000,230.000000,2006.000000,230.000000,2001.000000,1.0,1.000000,6.0,1.0,41.0
25%,2005.000000,2007.000000,6090.000000,2022.000000,7145.000000,2006.000000,5060.000000,2008.000000,5090.000000,2008.000000,1.0,1.000000,6.0,1.0,41.0
50%,2006.000000,2009.000000,14080.000000,2027.000000,17090.000000,2008.000000,12430.000000,2009.000000,12390.000000,2009.000000,1.0,3.000000,6.0,1.0,41.0
75%,2009.000000,2011.000000,38155.000000,2030.000000,46050.000000,2010.000000,34520.500000,2010.000000,35350.000000,2012.000000,1.0,4.000000,6.0,1.0,41.0
max,2013.000000,2015.000000,172870.000000,2038.000000,206500.000000,2015.000000,180470.000000,2011.000000,180470.000000,2014.000000,1.0,6.000000,6.0,1.0,41.0

In [130]:
ohio_basic=ohio[ohio['ActualOpeningYear'].isnull()] #dataframe with rows without any completion year. need to take the recent count.
ohio_basic.describe()

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYr,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,State
count,4781.000000,4781.000000,4.781000e+03,4781.000000,4.781000e+03,3922.000000,3922.000000,1570.000000,1570.000000,0.0,4781.0,4779.000000,4781.0,3465.000000,4781.0
mean,2012.360803,2014.950429,2.819917e+04,2033.158963,3.322788e+04,2013.343957,25990.245538,2009.231847,27733.808917,NaN,1.0,3.112576,6.0,1.001732,41.0
std,5.182216,3.232589,3.861544e+04,4.837510,5.963994e+04,2.678325,33043.711140,1.065601,29719.909898,NaN,0.0,1.493493,0.0,0.058832,0.0
min,1900.000000,2003.000000,0.000000e+00,2015.000000,8.000000e+01,2003.000000,0.000000,2006.000000,200.000000,NaN,1.0,1.000000,6.0,1.000000,41.0
25%,2011.000000,2013.000000,5.320000e+03,2029.000000,6.100000e+03,2013.000000,4639.000000,2008.000000,7882.500000,NaN,1.0,1.000000,6.0,1.000000,41.0
50%,2013.000000,2015.000000,1.445000e+04,2034.000000,1.680000e+04,2015.000000,12710.000000,2009.000000,16950.000000,NaN,1.0,3.000000,6.0,1.000000,41.0
75%,2015.000000,2017.000000,3.406000e+04,2037.000000,4.000000e+04,2015.000000,32626.000000,2010.000000,36825.000000,NaN,1.0,4.000000,6.0,1.000000,41.0
max,2017.000000,2025.000000,1.159100e+06,2050.000000,3.063000e+06,2015.000000,191217.000000,2011.000000,163950.000000,NaN,1.0,6.000000,6.0,3.000000,41.0

In [131]:
#working on the ohio_completion
#need to see if NearActualOpeningYear and RecentYear are after the project completion year or not.
#ohio_completion['DiffYr']=ohio_completion.assign[ohio_completion['OpeningYear']-ohio_completion['Year']]
#ohio_completion=ohio_completion.assign(DiffYear=ohio_completion['OpeningYear']-ohio_completion['Year'])
#ohio_completion.describe()

ohio_cleaned=ohio_completion[ohio_completion['OpeningYear']-ohio_completion['ActualOpeningYear']>=0]
#in this dataset we have only the projects that we can compare directly.
ohio_cleaned.describe()

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYr,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,State
count,815.000000,815.000000,815.000000,815.000000,815.000000,815.000000,815.000000,769.000000,769.000000,815.000000,815.0,815.000000,815.0,815.0,815.0
mean,2007.161963,2009.182822,26630.057669,2025.689571,31403.379141,2008.971779,23789.722699,2009.146944,22730.351105,2008.969325,1.0,3.072393,6.0,1.0,41.0
std,2.764868,2.739680,34248.652496,4.918808,39777.410925,2.834144,31383.020352,0.944002,29320.529733,2.661546,0.0,1.513546,0.0,0.0,0.0
min,2002.000000,2003.000000,250.000000,2014.000000,260.000000,2002.000000,250.000000,2006.000000,300.000000,2002.000000,1.0,1.000000,6.0,1.0,41.0
25%,2006.000000,2007.000000,4930.000000,2021.000000,5735.000000,2007.000000,4120.000000,2009.000000,4120.000000,2007.000000,1.0,1.000000,6.0,1.0,41.0
50%,2007.000000,2009.000000,11480.000000,2025.000000,13090.000000,2009.000000,9960.000000,2009.000000,9810.000000,2009.000000,1.0,3.000000,6.0,1.0,41.0
75%,2009.000000,2011.000000,33340.000000,2030.000000,38700.000000,2010.000000,28936.500000,2010.000000,28800.000000,2010.000000,1.0,4.000000,6.0,1.0,41.0
max,2013.000000,2015.000000,172000.000000,2035.000000,194000.000000,2015.000000,172000.000000,2011.000000,172000.000000,2014.000000,1.0,6.000000,6.0,1.0,41.0

In [156]:
ohio_scaletype1=ohio_cleaned[ohio_cleaned['OpeningYear']>ohio_cleaned['NearActualOpenYear']]
#the rows here don't have an actual count on the actual opening year. 
#need to compare the recent year count. So scale up the forecast.
ohio_scaletype1.describe()

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYr,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,State
count,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,305.000000,305.000000,313.000000,313.0,313.000000,313.0,313.0,313.0
mean,2007.009585,2009.019169,20540.744409,2025.194888,23947.667732,2007.738019,18503.201278,2008.980328,18625.016393,2008.821086,1.0,3.351438,6.0,1.0,41.0
std,2.654804,2.554461,28783.883444,4.528086,32696.783991,2.539759,26580.244367,0.956078,26264.177176,2.413889,0.0,1.486415,0.0,0.0,0.0
min,2002.000000,2003.000000,250.000000,2018.000000,260.000000,2002.000000,250.000000,2006.000000,370.000000,2003.000000,1.0,1.000000,6.0,1.0,41.0
25%,2006.000000,2007.000000,3980.000000,2022.000000,4650.000000,2006.000000,3550.000000,2008.000000,3540.000000,2007.000000,1.0,3.000000,6.0,1.0,41.0
50%,2007.000000,2009.000000,9360.000000,2025.000000,11320.000000,2008.000000,8020.000000,2009.000000,8020.000000,2009.000000,1.0,3.000000,6.0,1.0,41.0
75%,2009.000000,2010.000000,20540.000000,2030.000000,26240.000000,2009.000000,18410.000000,2010.000000,19070.000000,2010.000000,1.0,5.000000,6.0,1.0,41.0
max,2013.000000,2014.000000,147670.000000,2034.000000,165690.000000,2013.000000,148550.000000,2011.000000,143380.000000,2014.000000,1.0,6.000000,6.0,1.0,41.0

In [157]:
ohio_scaletype12=ohio_completion[ohio_completion['OpeningYear']-ohio_completion['ActualOpeningYear']<0]
#Comparing the OpeningYear (forecasted opening year) and ActualOpeningYear again. 
#If the value of the former is smaller, that means we have a forecast for a year that is earlier than the actual year of opening.
#In this case we have to compare the Recent Year Count with the scaled up forecast. 
#so we can append this to the ohio_scale dataframe
ohio_scaletype12.describe()

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYr,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,State
count,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,584.000000,584.000000,588.000000,588.0,588.000000,588.0,588.0,588.0
mean,2005.751701,2008.042517,34162.530612,2026.629252,40531.841837,2007.755102,31867.045918,2009.000000,31970.325342,2009.683673,1.0,2.960884,6.0,1.0,41.0
std,2.714636,2.682500,38041.850037,4.409834,43884.573875,2.656590,36666.029644,0.967747,36439.209963,2.711312,0.0,1.503035,0.0,0.0,0.0
min,1994.000000,2000.000000,360.000000,2008.000000,400.000000,2000.000000,230.000000,2006.000000,230.000000,2001.000000,1.0,1.000000,6.0,1.0,41.0
25%,2004.000000,2006.000000,7730.000000,2025.000000,9870.000000,2006.000000,7097.500000,2008.000000,7187.500000,2008.000000,1.0,1.000000,6.0,1.0,41.0
50%,2006.000000,2008.000000,19040.000000,2028.000000,22955.000000,2008.000000,16960.000000,2009.000000,17350.000000,2010.000000,1.0,3.000000,6.0,1.0,41.0
75%,2008.000000,2010.000000,45040.000000,2030.000000,57175.000000,2009.000000,42467.500000,2010.000000,42347.500000,2012.000000,1.0,4.000000,6.0,1.0,41.0
max,2013.000000,2013.000000,172870.000000,2038.000000,206500.000000,2014.000000,180470.000000,2011.000000,180470.000000,2014.000000,1.0,6.000000,6.0,1.0,41.0

In [158]:
ohio_scaletype2=ohio_cleaned[ohio_cleaned['OpeningYear']<ohio_cleaned['NearActualOpenYear']]
ohio_scaletype2.describe()
#need to scale the forecast value up to the near actual year to compare.

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYr,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,State
count,211.000000,211.000000,211.000000,211.000000,211.000000,211.000000,211.000000,203.000000,203.000000,211.000000,211.0,211.000000,211.0,211.0,211.0
mean,2006.663507,2008.488152,27825.184834,2024.573460,33441.535545,2009.573460,25299.777251,2009.305419,25055.369458,2008.369668,1.0,2.962085,6.0,1.0,41.0
std,2.696655,2.740108,34205.447614,4.660682,40183.464282,2.663341,32928.633318,0.951976,31423.200961,2.634176,0.0,1.514528,0.0,0.0,0.0
min,2002.000000,2003.000000,550.000000,2016.000000,550.000000,2004.000000,446.000000,2006.000000,500.000000,2003.000000,1.0,1.000000,6.0,1.0,41.0
25%,2005.000000,2007.000000,5390.000000,2020.000000,6300.000000,2008.000000,4250.000000,2009.000000,4560.000000,2007.000000,1.0,1.000000,6.0,1.0,41.0
50%,2006.000000,2008.000000,10980.000000,2025.000000,13090.000000,2009.000000,9746.000000,2009.000000,9800.000000,2008.000000,1.0,3.000000,6.0,1.0,41.0
75%,2008.500000,2009.000000,39800.000000,2028.000000,47540.000000,2010.000000,33240.000000,2010.000000,33305.000000,2009.000000,1.0,4.000000,6.0,1.0,41.0
max,2013.000000,2014.000000,167040.000000,2034.000000,191980.000000,2015.000000,172000.000000,2011.000000,172000.000000,2014.000000,1.0,6.000000,6.0,1.0,41.0

In [159]:
ohio_adjusted=ohio_cleaned[ohio_cleaned['OpeningYear']==ohio_cleaned['NearActualOpenYear']]
#don't need to scale up or down. can compare the forecast directly with the actual count
ohio_adjusted.describe()

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYr,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,State
count,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,261.000000,261.000000,291.000000,291.0,291.000000,291.0,291.0,291.0
mean,2007.687285,2009.862543,32313.161512,2027.030928,37944.914089,2009.862543,28380.993127,2009.218391,25719.425287,2009.563574,1.0,2.852234,6.0,1.0,41.0
std,2.850616,2.786978,38474.953855,5.210309,44897.407239,2.786978,34150.174259,0.895613,30540.970163,2.819620,0.0,1.500168,0.0,0.0,0.0
min,2002.000000,2003.000000,590.000000,2014.000000,650.000000,2003.000000,280.000000,2006.000000,300.000000,2002.000000,1.0,1.000000,6.0,1.0,41.0
25%,2006.000000,2008.000000,5695.000000,2022.000000,6970.000000,2008.000000,5035.000000,2009.000000,4770.000000,2008.000000,1.0,1.000000,6.0,1.0,41.0
50%,2008.000000,2010.000000,14380.000000,2028.000000,18030.000000,2010.000000,12700.000000,2009.000000,12850.000000,2009.000000,1.0,3.000000,6.0,1.0,41.0
75%,2010.000000,2013.000000,43950.000000,2032.000000,51575.000000,2013.000000,40862.000000,2010.000000,35440.000000,2013.000000,1.0,4.000000,6.0,1.0,41.0
max,2013.000000,2015.000000,172000.000000,2035.000000,194000.000000,2015.000000,157070.000000,2011.000000,139740.000000,2014.000000,1.0,6.000000,6.0,1.0,41.0

In [93]:
313+291+211

815

In [161]:
ohio_scaletype1=ohio_scaletype1.append(ohio_scaletype12,ignore_index=True)
ohio_scaletype1.describe()

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYr,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,State
count,1489.000000,1489.000000,1489.000000,1489.000000,1489.000000,1489.000000,1489.000000,1473.000000,1473.000000,1489.000000,1489.0,1489.000000,1489.0,1489.0,1489.0
mean,2006.016118,2008.247817,31299.119543,2026.327737,37045.712559,2007.751511,29057.856279,2008.995927,29207.040054,2009.502351,1.0,3.042982,6.0,1.0,41.0
std,2.748608,2.684027,36692.538141,4.470337,42300.270237,2.630730,35192.469599,0.964723,34978.710778,2.673074,0.0,1.506984,0.0,0.0,0.0
min,1994.000000,2000.000000,250.000000,2008.000000,260.000000,2000.000000,230.000000,2006.000000,230.000000,2001.000000,1.0,1.000000,6.0,1.0,41.0
25%,2004.000000,2006.000000,6930.000000,2024.000000,8360.000000,2006.000000,6160.000000,2008.000000,6320.000000,2008.000000,1.0,1.000000,6.0,1.0,41.0
50%,2006.000000,2008.000000,16420.000000,2027.000000,19330.000000,2008.000000,14390.000000,2009.000000,14610.000000,2010.000000,1.0,3.000000,6.0,1.0,41.0
75%,2008.000000,2010.000000,39470.000000,2030.000000,47030.000000,2009.000000,38700.000000,2010.000000,38810.000000,2012.000000,1.0,4.000000,6.0,1.0,41.0
max,2013.000000,2014.000000,172870.000000,2038.000000,206500.000000,2014.000000,180470.000000,2011.000000,180470.000000,2014.000000,1.0,6.000000,6.0,1.0,41.0

# Adjust Type 1
## Scale up the forecast to recent Year.
### use y=mx+c
$m=\frac{OYADTForecast-DYADTForecast}{OpeningYear-DesignYear}$

$adjusted count=m*(RecentYr-OpeningYear)+OYADTForecast$

In [168]:
ohio_scaletype1=ohio_scaletype1.assign(m=(ohio_scaletype1['DYADTForecast']-ohio_scaletype1['OYADTForecast'])/
                                            (ohio_scaletype1['DesignYear']-ohio_scaletype1['OpeningYear']))
ohio_scaletype1[ohio_scaletype1['m']==0].head()

,PID,YearForecastMade,ForecastMethod,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,Notes,NearActualOpenYear,NearOpenYrCount,RecentYr,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,ImpromentType,State,m
133,79029,2007,MR,2009.0,11520.0,2029,11520.0,NaN,2008.0,11040.0,2008.0,11040.0,2009.0,1,3.0,6,1.0,12,41,0.0
134,79029,2007,MR,2009.0,11340.0,2029,11340.0,NaN,2008.0,11040.0,2008.0,11040.0,2009.0,1,3.0,6,1.0,12,41,0.0
135,79029,2007,MR,2009.0,12880.0,2029,12880.0,NaN,2008.0,11040.0,2008.0,11040.0,2009.0,1,3.0,6,1.0,12,41,0.0
136,79029,2007,MR,2009.0,12770.0,2029,12770.0,NaN,2008.0,11040.0,2008.0,11040.0,2009.0,1,3.0,6,1.0,12,41,0.0
137,79029,2007,MR,2009.0,11690.0,2029,11690.0,NaN,2008.0,11040.0,2008.0,11040.0,2009.0,1,3.0,6,1.0,12,41,0.0

In [169]:
ohio_scaletype1=ohio_scaletype1.assign(AdjustedForecast=ohio_scaletype1['m']*(ohio_scaletype1['RecentYr']-ohio_scaletype1['OpeningYear'])
                                      +ohio_scaletype1['OYADTForecast'])
ohio_scaletype1.head()

,PID,YearForecastMade,ForecastMethod,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,Notes,NearActualOpenYear,NearOpenYrCount,...,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,ImpromentType,State,m,AdjustedForecast
0,75086,2002,RC,2003.0,27070.0,2023,34380.0,NaN,2002.0,26700.0,...,28740.0,2003.0,1,1.0,6,1.0,1,41,365.5,28897.5
1,20996,2002,RC,2004.0,20540.0,2024,30400.0,NaN,2003.0,18640.0,...,17970.0,2004.0,1,1.0,6,1.0,12,41,493.0,23498.0
2,24316,2002,UNK,2004.0,7280.0,2024,8680.0,NaN,2003.0,6890.0,...,6470.0,2004.0,1,3.0,6,1.0,1,41,70.0,7630.0
3,24316,2002,UNK,2004.0,12170.0,2024,14510.0,NaN,2003.0,10410.0,...,10150.0,2004.0,1,3.0,6,1.0,1,41,117.0,12755.0
4,24316,2002,UNK,2004.0,8540.0,2024,10180.0,NaN,2003.0,8020.0,...,6910.0,2004.0,1,3.0,6,1.0,1,41,82.0,8950.0

## Function to adjust forecast values to the nearest year to Actual Opening Year
iterate through the rows.
compare ActualOpeningYear with RecentYr (diff1) and NearActualOpenYear(diff2).

In [140]:
ohio_scaletype12.head()

,PID,YearForecastMade,ForecastMethod,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,Notes,NearActualOpenYear,NearOpenYrCount,RecentYr,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,ImpromentType,State
0,11378,1994,RC,2000.0,37190.0,2020,45190.0,gtg guesses on method since not documented,2000.0,42310.0,2008.0,39760.0,2005.0,1,1.0,6,1.0,11,41
1,11378,1994,RC,2000.0,12920.0,2020,17390.0,gtg guesses on method since not documented,2000.0,15780.0,2008.0,15630.0,2005.0,1,3.0,6,1.0,11,41
2,11378,1994,RC,2000.0,37820.0,2020,46060.0,gtg guesses on method since not documented,2000.0,42450.0,2008.0,39290.0,2005.0,1,1.0,6,1.0,11,41
3,11378,1994,RC,2000.0,16430.0,2020,22090.0,gtg guesses on method since not documented,2000.0,16530.0,2008.0,18210.0,2005.0,1,1.0,6,1.0,11,41
4,19055,1999,RC,2000.0,8990.0,2020,11530.0,NaN,2000.0,9100.0,2010.0,8960.0,2001.0,1,3.0,6,1.0,12,41

In [141]:
ohio_scaletype1=ohio_scaletype1.assign(n1=ohio_scaletype1['OpeningYear']-ohio_scaletype1['NearActualOpenYear'],
                                      n2=ohio_scaletype1['OpeningYear']-ohio_scaletype1['RecentYr'])

In [155]:
ohio_scaletype1.describe()

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYr,RecentYrCnt,ActualOpeningYear,TollType,FunctionalClass,Methodology,AreaType,State,m,AdjustedForecast,n1,n2
count,901.000000,901.000000,901.000000,901.000000,901.000000,901.000000,901.000000,889.000000,889.000000,901.000000,901.0,901.000000,901.0,901.0,901.0,901.000000,8.890000e+02,901.000000,889.000000
mean,2006.188679,2008.381798,29430.433962,2026.130966,34770.635960,2007.749168,27224.556049,2008.993251,27391.788526,2009.384018,1.0,3.096559,6.0,1.0,41.0,inf,-inf,0.632630,-0.680540
std,2.758406,2.678030,35682.146472,4.500932,41098.940195,2.615193,34092.566918,0.963266,33883.438766,2.642627,0.0,1.507979,0.0,0.0,0.0,NaN,NaN,1.100202,2.697862
min,1994.000000,2000.000000,250.000000,2008.000000,260.000000,2000.000000,230.000000,2006.000000,230.000000,2001.000000,1.0,1.000000,6.0,1.0,41.0,-135.833333,-inf,-2.000000,-10.000000
25%,2004.000000,2007.000000,6440.000000,2023.000000,7680.000000,2006.000000,5450.000000,2008.000000,5450.000000,2008.000000,1.0,1.000000,6.0,1.0,41.0,44.500000,6.703333e+03,0.000000,-3.000000
50%,2006.000000,2008.000000,14590.000000,2027.000000,17390.000000,2008.000000,13100.000000,2009.000000,13180.000000,2010.000000,1.0,3.000000,6.0,1.0,41.0,141.000000,1.475300e+04,1.000000,-1.000000
75%,2008.000000,2010.000000,37190.000000,2030.000000,43470.000000,2009.000000,33820.000000,2010.000000,35350.000000,2012.000000,1.0,4.000000,6.0,1.0,41.0,412.000000,3.834000e+04,1.000000,1.000000
max,2013.000000,2014.000000,172870.000000,2038.000000,206500.000000,2014.000000,180470.000000,2011.000000,180470.000000,2014.000000,1.0,6.000000,6.0,1.0,41.0,inf,1.761000e+05,5.000000,5.000000