In [1]:
import pandas as pd #for working with dataframe
import numpy as np
from scipy import stats, integrate #will help in stats operation in histograms
import matplotlib.pyplot as plt #to plot the PE
import seaborn as sns #nice looking plots
%matplotlib inline
sns.set(color_codes=True)

In [42]:
ohio=pd.read_csv('Ohio.csv',encoding='utf-8'
                )

In [37]:
ohio[ohio['OpeningYear'].isnull()].describe() #what if we were to delete the rows which don't have a forecasted opening year ?

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYrCnt,Year,TollType,FunctionalClass,Methodology,AreaType,State
count,45.000000,0.0,0.0,45.000000,45.000000,21.000000,21.000000,45.000000,12.000000,45.0,45.000000,45.0,45.0,45.0
mean,2006.000000,NaN,NaN,2030.533333,23569.244444,2005.809524,22043.809524,24139.555556,2010.416667,1.0,2.911111,6.0,1.0,41.0
std,0.953463,NaN,NaN,1.575379,19676.628861,1.123345,18265.783169,21305.441575,1.240112,0.0,1.040590,0.0,0.0,0.0
min,2005.000000,NaN,NaN,2027.000000,4110.000000,2004.000000,3860.000000,3760.000000,2009.000000,1.0,1.000000,6.0,1.0,41.0
25%,2005.000000,NaN,NaN,2030.000000,10389.000000,2006.000000,8830.000000,14240.000000,2010.000000,1.0,3.000000,6.0,1.0,41.0
50%,2006.000000,NaN,NaN,2030.000000,17840.000000,2006.000000,19560.000000,16060.000000,2010.000000,1.0,3.000000,6.0,1.0,41.0
75%,2007.000000,NaN,NaN,2031.000000,25500.000000,2007.000000,24700.000000,23750.000000,2010.000000,1.0,3.000000,6.0,1.0,41.0
max,2009.000000,NaN,NaN,2035.000000,90660.000000,2007.000000,67230.000000,77990.000000,2013.000000,1.0,5.000000,6.0,1.0,41.0

In [48]:
ohio=ohio[ohio['OpeningYear'].notnull()] #the dataset that have Opening Year and Opening Year Forecast
ohio.describe()

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYrCnt,Year,TollType,FunctionalClass,Methodology,AreaType,State
count,6184.000000,6184.000000,6.184000e+03,6184.000000,6.184000e+03,5325.000000,5325.000000,2923.000000,1403.000000,6184.0,6182.000000,6184.0,4868.000000,6184.0
mean,2011.047219,2013.533473,2.855940e+04,2031.553687,3.368192e+04,2012.057653,26302.383099,27263.903524,2009.268710,1.0,3.092850,6.0,1.001233,41.0
std,5.334640,4.082227,3.805500e+04,5.652824,5.609153e+04,3.465601,33277.877396,31226.933010,2.704634,0.0,1.497488,0.0,0.049639,0.0
min,1900.000000,2000.000000,0.000000e+00,2008.000000,8.000000e+01,2000.000000,0.000000,200.000000,2001.000000,1.0,1.000000,6.0,1.000000,41.0
25%,2008.000000,2010.000000,5.510000e+03,2028.000000,6.400000e+03,2009.000000,4750.000000,6530.000000,2008.000000,1.0,1.000000,6.0,1.000000,41.0
50%,2012.000000,2015.000000,1.424000e+04,2032.000000,1.694000e+04,2013.000000,12670.000000,14860.000000,2009.000000,1.0,3.000000,6.0,1.000000,41.0
75%,2015.000000,2017.000000,3.500750e+04,2036.000000,4.158250e+04,2015.000000,32890.000000,36480.000000,2012.000000,1.0,4.000000,6.0,1.000000,41.0
max,2017.000000,2025.000000,1.159100e+06,2050.000000,3.063000e+06,2015.000000,191217.000000,180470.000000,2014.000000,1.0,6.000000,6.0,3.000000,41.0

In [50]:
ohio_completion=ohio[ohio['Year'].notnull()] #dataframe with rows that have a completion year available
ohio_completion.describe()

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYrCnt,Year,TollType,FunctionalClass,Methodology,AreaType,State
count,1403.000000,1403.000000,1403.000000,1403.000000,1403.000000,1403.000000,1403.000000,1353.000000,1403.000000,1403.0,1403.000000,1403.0,1403.0,1403.0
mean,2006.570919,2008.704918,29786.931575,2026.083393,35229.135424,2008.461867,27174.944405,26718.632668,2009.268710,1.0,3.025659,6.0,1.0,41.0
std,2.829901,2.772629,36066.131630,4.733349,41776.570696,2.824732,33920.589199,32891.926947,2.704634,0.0,1.509616,0.0,0.0,0.0
min,1994.000000,2000.000000,250.000000,2008.000000,260.000000,2000.000000,230.000000,230.000000,2001.000000,1.0,1.000000,6.0,1.0,41.0
25%,2005.000000,2007.000000,6090.000000,2022.000000,7145.000000,2006.000000,5060.000000,5090.000000,2008.000000,1.0,1.000000,6.0,1.0,41.0
50%,2006.000000,2009.000000,14080.000000,2027.000000,17090.000000,2008.000000,12430.000000,12390.000000,2009.000000,1.0,3.000000,6.0,1.0,41.0
75%,2009.000000,2011.000000,38155.000000,2030.000000,46050.000000,2010.000000,34520.500000,35350.000000,2012.000000,1.0,4.000000,6.0,1.0,41.0
max,2013.000000,2015.000000,172870.000000,2038.000000,206500.000000,2015.000000,180470.000000,180470.000000,2014.000000,1.0,6.000000,6.0,1.0,41.0

In [51]:
ohio_basic=ohio[ohio['Year'].isnull()] #dataframe with rows without any completion year. need to take the recent count.
ohio_basic.describe()

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYrCnt,Year,TollType,FunctionalClass,Methodology,AreaType,State
count,4781.000000,4781.000000,4.781000e+03,4781.000000,4.781000e+03,3922.000000,3922.000000,1570.000000,0.0,4781.0,4779.000000,4781.0,3465.000000,4781.0
mean,2012.360803,2014.950429,2.819917e+04,2033.158963,3.322788e+04,2013.343957,25990.245538,27733.808917,NaN,1.0,3.112576,6.0,1.001732,41.0
std,5.182216,3.232589,3.861544e+04,4.837510,5.963994e+04,2.678325,33043.711140,29719.909898,NaN,0.0,1.493493,0.0,0.058832,0.0
min,1900.000000,2003.000000,0.000000e+00,2015.000000,8.000000e+01,2003.000000,0.000000,200.000000,NaN,1.0,1.000000,6.0,1.000000,41.0
25%,2011.000000,2013.000000,5.320000e+03,2029.000000,6.100000e+03,2013.000000,4639.000000,7882.500000,NaN,1.0,1.000000,6.0,1.000000,41.0
50%,2013.000000,2015.000000,1.445000e+04,2034.000000,1.680000e+04,2015.000000,12710.000000,16950.000000,NaN,1.0,3.000000,6.0,1.000000,41.0
75%,2015.000000,2017.000000,3.406000e+04,2037.000000,4.000000e+04,2015.000000,32626.000000,36825.000000,NaN,1.0,4.000000,6.0,1.000000,41.0
max,2017.000000,2025.000000,1.159100e+06,2050.000000,3.063000e+06,2015.000000,191217.000000,163950.000000,NaN,1.0,6.000000,6.0,3.000000,41.0

In [56]:
#working on the ohio_completion
#need to see if NearActualOpeningYear and RecentYear are after the project completion year or not.
#ohio_completion['DiffYr']=ohio_completion.assign[ohio_completion['OpeningYear']-ohio_completion['Year']]
ohio_completion=ohio_completion.assign(DiffYear=ohio_completion['OpeningYear']-ohio_completion['Year'])
ohio_completion.describe()

,YearForecastMade,OpeningYear,OYADTForecast,DesignYear,DYADTForecast,NearActualOpenYear,NearOpenYrCount,RecentYrCnt,Year,TollType,FunctionalClass,Methodology,AreaType,State,DiffYear
count,1403.000000,1403.000000,1403.000000,1403.000000,1403.000000,1403.000000,1403.000000,1353.000000,1403.000000,1403.0,1403.000000,1403.0,1403.0,1403.0,1403.000000
mean,2006.570919,2008.704918,29786.931575,2026.083393,35229.135424,2008.461867,27174.944405,26718.632668,2009.268710,1.0,3.025659,6.0,1.0,41.0,-0.563792
std,2.829901,2.772629,36066.131630,4.733349,41776.570696,2.824732,33920.589199,32891.926947,2.704634,0.0,1.509616,0.0,0.0,0.0,1.223591
min,1994.000000,2000.000000,250.000000,2008.000000,260.000000,2000.000000,230.000000,230.000000,2001.000000,1.0,1.000000,6.0,1.0,41.0,-7.000000
25%,2005.000000,2007.000000,6090.000000,2022.000000,7145.000000,2006.000000,5060.000000,5090.000000,2008.000000,1.0,1.000000,6.0,1.0,41.0,-1.000000
50%,2006.000000,2009.000000,14080.000000,2027.000000,17090.000000,2008.000000,12430.000000,12390.000000,2009.000000,1.0,3.000000,6.0,1.0,41.0,0.000000
75%,2009.000000,2011.000000,38155.000000,2030.000000,46050.000000,2010.000000,34520.500000,35350.000000,2012.000000,1.0,4.000000,6.0,1.0,41.0,0.000000
max,2013.000000,2015.000000,172870.000000,2038.000000,206500.000000,2015.000000,180470.000000,180470.000000,2014.000000,1.0,6.000000,6.0,1.0,41.0,4.000000

In [ ]:
ohio_completion=ohio_completion.assign(DiffYear2=ohio_completion['OpeningYear']-ohio_completion['Year'])