# Algorithm for Data Processing

1. Start
2. Read .csv file.
3. Create separate files for each state.
4. Is forecast year=year observed?
5. If yes, go to step 6. If no, go to step 9.
6. n=number of duplicates in Internal Project ID.
If Internal Project ID is unavailable, find duplicates by some other method.
7. New columns for Percentage Error.
8. Percentage Error=1/n*(Forecast-Actual)/Forecast. END
9. years=forecast year- year observed.
10. growth rate= difference between two projections/number of years in between projections.
11. adjusted forecast=forecast AADT X growth rate X years. Go to step 7.

In [1]:
import pandas as pd
import numpy as np

In [3]:
flatdata=pd.read_csv("FlatData.csv")
flatdata.groupby('State').count() #summary of the data available

,BriefDescription,Length_miles,FunctionalClass,ImprovementType,InternalProjectID,main_ProjectInformation_ProjectID,County,TollType,ForecastYear,TrafficForecast,ForecastYearType,YearForecastProduced,ForecastMethodology,SegmentDescription,main_TrafficForecast_ProjectID,SegmentID,Year_ofObservation,Count
State,,,,,,,,,,,,,,,,,,
12.0,2066,1803,1923,0,1923,2066,2066,2066,2060,2066,2066,2060,2042,1188,2066,2066,2066,2066
27.0,38,38,38,0,38,38,38,38,38,38,38,38,38,32,38,38,38,38
28.0,2176,1565,0,0,2176,2176,1987,2176,2176,2176,0,2176,2176,2176,2176,0,2176,2176
41.0,12411,0,12409,0,10677,12413,12413,12413,12413,12413,12413,12413,12413,12413,12413,0,12413,12413
58.0,0,0,457,0,457,457,457,457,457,457,457,457,457,0,457,0,457,457

In [20]:
cleaned.groupby('State').count()

,BriefDescription,Length_miles,FunctionalClass,ImprovementType,InternalProjectID,main_ProjectInformation_ProjectID,County,TollType,ForecastYear,TrafficForecast,ForecastYearType,YearForecastProduced,ForecastMethodology,SegmentDescription,main_TrafficForecast_ProjectID,SegmentID,Year_ofObservation,Count
State,,,,,,,,,,,,,,,,,,
12.0,840,653,697,0,697,840,840,840,840,840,840,838,832,524,840,840,840,840
27.0,8,8,8,0,8,8,8,8,8,8,8,8,8,7,8,8,8,8
28.0,2100,1549,0,0,2100,2100,1911,2100,2100,2100,0,2100,2100,2100,2100,0,2100,2100
41.0,1854,0,1854,0,1584,1854,1854,1854,1854,1854,1854,1854,1854,1854,1854,0,1854,1854
58.0,0,0,457,0,457,457,457,457,457,457,457,457,457,0,457,0,457,457

In [4]:
florida=flatdata[flatdata['State']==12]
michigan=flatdata[flatdata['State']==27]
minnesota=flatdata[flatdata['State']==28]
wisconsin=flatdata[flatdata['State']==58]
ohio=flatdata[flatdata['State']==41]
ohio.head()

,BriefDescription,Length_miles,FunctionalClass,ImprovementType,State,InternalProjectID,main_ProjectInformation_ProjectID,County,TollType,ForecastYear,TrafficForecast,ForecastYearType,YearForecastProduced,ForecastMethodology,SegmentDescription,main_TrafficForecast_ProjectID,SegmentID,Year_ofObservation,Count
0,IR71/US 30 interchange Modification,NaN,1.0,NaN,41.0,11378,41-2-11378-IR71/US 30 interchange Modification,Richland,1,2000.0,37190,1.0,1994.0,6,", , RIC7119.08",2,NaN,2000,42310
1,IR71/US 30 interchange Modification,NaN,1.0,NaN,41.0,11378,41-2-11378-IR71/US 30 interchange Modification,Richland,1,2020.0,45190,3.0,1994.0,6,", , RIC7119.08",2,NaN,2008,39760
2,IR71/US 30 interchange Modification,NaN,3.0,NaN,41.0,11378,41-3-11378-IR71/US 30 interchange Modification,Richland,1,2000.0,12920,1.0,1994.0,6,", , RIC3017.2",3,NaN,2000,15780
3,IR71/US 30 interchange Modification,NaN,3.0,NaN,41.0,11378,41-3-11378-IR71/US 30 interchange Modification,Richland,1,2020.0,17390,3.0,1994.0,6,", , RIC3017.2",3,NaN,2008,15630
4,IR71/US 30 interchange Modification,NaN,1.0,NaN,41.0,11378,41-4-11378-IR71/US 30 interchange Modification,Richland,1,2000.0,37820,1.0,1994.0,6,", , RIC7118.78",4,NaN,2000,42450

In [5]:
#ohio[ohio['InternalProjectID'].isnull()]
flatdata[flatdata['InternalProjectID'].isnull()].groupby('State').count()
#flatdata[flatdata['Count'].isnull()].groupby('State').count()

,BriefDescription,Length_miles,FunctionalClass,ImprovementType,InternalProjectID,main_ProjectInformation_ProjectID,County,TollType,ForecastYear,TrafficForecast,ForecastYearType,YearForecastProduced,ForecastMethodology,SegmentDescription,main_TrafficForecast_ProjectID,SegmentID,Year_ofObservation,Count
State,,,,,,,,,,,,,,,,,,
12.0,143,0,0,0,0,143,143,143,143,143,143,143,143,143,143,143,143,143
41.0,1734,0,1736,0,0,1736,1736,1736,1736,1736,1736,1736,1736,1736,1736,0,1736,1736

The above describes the number of records in our database that don't have any Internal Project ID. We have to analyse these differently.

In [6]:
cleaned=ohio[ohio['ForecastYear']==ohio['Year_ofObservation']]
#cleaned.head()

Looking at the Ohio dataset, we see that in the original excel worksheetthere is a column titled "Physical Works COmpleted On". If the Near Opening Year Count happens before this date, that means the count is taken when the project is not yet done. SO we have to exclude this value.

In [30]:
flatdata['DiffYear']=flatdata['ForecastYear']-flatdata['Year_ofObservation']

newflatdata=flatdata[flatdata['DiffYear']>=0] #to remove values whose counts are not applicable.

newflatdata=newflatdata[newflatdata['State']!=41]
newflatdata.groupby('State').count()

,BriefDescription,Length_miles,FunctionalClass,ImprovementType,InternalProjectID,main_ProjectInformation_ProjectID,County,TollType,ForecastYear,TrafficForecast,ForecastYearType,YearForecastProduced,ForecastMethodology,SegmentDescription,main_TrafficForecast_ProjectID,SegmentID,Year_ofObservation,Count,DiffYear
State,,,,,,,,,,,,,,,,,,,
12.0,1948,1687,1805,0,1805,1948,1948,1948,1948,1948,1948,1942,1928,1098,1948,1948,1948,1948,1948
27.0,33,33,33,0,33,33,33,33,33,33,33,33,33,27,33,33,33,33,33
28.0,2134,1553,0,0,2134,2134,1945,2134,2134,2134,0,2134,2134,2134,2134,0,2134,2134,2134
58.0,0,0,457,0,457,457,457,457,457,457,457,457,457,0,457,0,457,457,457

Now, newflatdata dataframe contains the projects that have actual counts on or after the forecast year. Note it doesn't include Ohio, since that have to be analysed separately.

#### Here, InternalProjectID are unique identifiers.

## Separate the newflatdata 

The first condition to be fulfilled is whether the DiffYear is zero. If it is zero, then we don't need to adjust the forecast.

If the DiffYear is not zero, adjust by the aforementioned formula.

In [42]:
estimation=newflatdata[newflatdata['DiffYear']==0]
estimation.groupby('State').count()
estimation.head()

,BriefDescription,Length_miles,FunctionalClass,ImprovementType,State,InternalProjectID,main_ProjectInformation_ProjectID,County,TollType,ForecastYear,TrafficForecast,ForecastYearType,YearForecastProduced,ForecastMethodology,SegmentDescription,main_TrafficForecast_ProjectID,SegmentID,Year_ofObservation,Count,DiffYear
12413,NaN,NaN,3.0,NaN,58.0,1663,58-6231-1663-,Washington,1,2010.0,5300,1.0,2007.0,1,NaN,6231,NaN,2010,3700,0.0
12414,NaN,NaN,3.0,NaN,58.0,1663,58-6232-1663-,Washington,1,2010.0,7400,1.0,2007.0,1,NaN,6232,NaN,2010,5500,0.0
12415,NaN,NaN,3.0,NaN,58.0,1663,58-6233-1663-,Washington,1,2010.0,4150,1.0,2007.0,1,NaN,6233,NaN,2010,2800,0.0
12416,NaN,NaN,3.0,NaN,58.0,1663,58-6234-1663-,Washington,1,2010.0,3700,1.0,2007.0,1,NaN,6234,NaN,2010,2500,0.0
12417,NaN,NaN,3.0,NaN,58.0,1663,58-6235-1663-,Washington,1,2010.0,4500,1.0,2007.0,1,NaN,6235,NaN,2010,3500,0.0

In [32]:
estimation2=newflatdata[newflatdata['DiffYear']>0]
estimation2.groupby('State').count()

,BriefDescription,Length_miles,FunctionalClass,ImprovementType,InternalProjectID,main_ProjectInformation_ProjectID,County,TollType,ForecastYear,TrafficForecast,ForecastYearType,YearForecastProduced,ForecastMethodology,SegmentDescription,main_TrafficForecast_ProjectID,SegmentID,Year_ofObservation,Count,DiffYear
State,,,,,,,,,,,,,,,,,,,
12.0,1108,1034,1108,0,1108,1108,1108,1108,1108,1108,1108,1104,1096,574,1108,1108,1108,1108,1108
27.0,25,25,25,0,25,25,25,25,25,25,25,25,25,20,25,25,25,25,25
28.0,34,4,0,0,34,34,34,34,34,34,0,34,34,34,34,0,34,34,34

In [41]:
estimation2=estimation2[estimation2['ForecastYearType']!=3] #taking the opening year forecast only.
estimation2.head()

,BriefDescription,Length_miles,FunctionalClass,ImprovementType,State,InternalProjectID,main_ProjectInformation_ProjectID,County,TollType,ForecastYear,TrafficForecast,ForecastYearType,YearForecastProduced,ForecastMethodology,SegmentDescription,main_TrafficForecast_ProjectID,SegmentID,Year_ofObservation,Count,DiffYear
13416,TH 35 and Little Canada Road,NaN,NaN,NaN,28.0,TA-M286,28-7234-TA-M286-TH 35 and Little Canada Road,Ramsey,1,2005.0,3600,NaN,1981.0,1,", , , Little Canada RdWest of Co Rd CEB",7234,NaN,2004,20000,1.0
13417,TH 35 and Little Canada Road,NaN,NaN,NaN,28.0,TA-M286,28-7235-TA-M286-TH 35 and Little Canada Road,Ramsey,1,2005.0,3600,NaN,1981.0,1,", , , WB",7235,NaN,2004,20000,1.0
13418,TH 35 and Little Canada Road,NaN,NaN,NaN,28.0,TA-M286,28-7236-TA-M286-TH 35 and Little Canada Road,Ramsey,1,2005.0,6000,NaN,1981.0,1,", , , Little Canada RdBetween Co Rd C & Lakesh...",7236,NaN,2004,20000,1.0
13419,TH 35 and Little Canada Road,NaN,NaN,NaN,28.0,TA-M286,28-7237-TA-M286-TH 35 and Little Canada Road,Ramsey,1,2005.0,6000,NaN,1981.0,1,", , , WB",7237,NaN,2004,20000,1.0
13856,TH 494 from TH 12 (394) to TH 55,NaN,NaN,NaN,28.0,TA-M358,28-7674-TA-M358-TH 494 from TH 12 (394) to TH 55,Hennepin,1,2010.0,32800,NaN,1987.0,1,", , , I-494Between I-394NB",7674,NaN,1990,27000,20.0

In [40]:
project_weight = estimation['InternalProjectID'].groupby(estimation['InternalProjectID']).count().to_frame(name='n')
project_weight

                              n
InternalProjectID
1663                          5
1693                          5
1745                         12
1760                          5
1864                          1
1905                          2
1929                         23
1939                          4
1959                          8
1965                          5
1986                          2
1990                          4
20-Year Plan For District 9  16
2004                          1
2005                          3
2006                          4
2015                          3
2017                          3
2035                          1
2064                          1
2084                          2
2126                         10
2137                          8
2138                          3
2148                          2
2154                          4
2156                          1
2159                          6
2187                          1
2191                          1
...                          ..
TA-M343                      10
TA-M345                      78
TA-M346                      28
TA-M358                      24
TA-M372B                     22
TAS 3065A-14                 16
TAS 3066A-14                  7
TAS 3074B                    24
TAS 3074C-14                  6
TAS 3080                      8
TAS 3081                     10
TAS 3081A-14                 14
TAS3081B-14                  10
TAS3082-14                   16
TAS3084-14                    6
TAS3085-14                   14
TAU 3061A                    10
TAU 3065                     14
TAU 3069                      8
TAU 3073                      8
TAU 3073A                    18
TAU 3074                      8
TAU 3074A                     6
TAU 3075                      2
TAU 3076                      8
TAU 3077                      6
TAU 3078                      8
TAU 3451A                     8
TAU 3451B                    14
TAU3204A                      8

[473 rows x 1 columns]

In [43]:
newestimation1 = pd.merge(estimation,project_weight, left_on='InternalProjectID', right_index=True)
newestimation1

,BriefDescription,Length_miles,FunctionalClass,ImprovementType,State,InternalProjectID,main_ProjectInformation_ProjectID,County,TollType,ForecastYear,...,ForecastYearType,YearForecastProduced,ForecastMethodology,SegmentDescription,main_TrafficForecast_ProjectID,SegmentID,Year_ofObservation,Count,DiffYear,n
12413,NaN,NaN,3.0,NaN,58.0,1663,58-6231-1663-,Washington,1,2010.0,...,1.0,2007.0,1,NaN,6231,NaN,2010,3700,0.0,5
12414,NaN,NaN,3.0,NaN,58.0,1663,58-6232-1663-,Washington,1,2010.0,...,1.0,2007.0,1,NaN,6232,NaN,2010,5500,0.0,5
12415,NaN,NaN,3.0,NaN,58.0,1663,58-6233-1663-,Washington,1,2010.0,...,1.0,2007.0,1,NaN,6233,NaN,2010,2800,0.0,5
12416,NaN,NaN,3.0,NaN,58.0,1663,58-6234-1663-,Washington,1,2010.0,...,1.0,2007.0,1,NaN,6234,NaN,2010,2500,0.0,5
12417,NaN,NaN,3.0,NaN,58.0,1663,58-6235-1663-,Washington,1,2010.0,...,1.0,2007.0,1,NaN,6235,NaN,2010,3500,0.0,5
12418,NaN,NaN,4.0,NaN,58.0,2015,58-6236-2015-,Washington,1,2007.0,...,1.0,2005.0,1,NaN,6236,NaN,2007,14000,0.0,3
12419,NaN,NaN,4.0,NaN,58.0,2015,58-6237-2015-,Washington,1,2007.0,...,1.0,2005.0,1,NaN,6237,NaN,2007,14700,0.0,3
12420,NaN,NaN,4.0,NaN,58.0,2015,58-6238-2015-,Washington,1,2007.0,...,1.0,2005.0,1,NaN,6238,NaN,2007,16900,0.0,3
12421,NaN,NaN,0.0,NaN,58.0,2126,58-6239-2126-,Washington,1,2007.0,...,1.0,2006.0,1,NaN,6239,NaN,2007,1900,0.0,10
12423,NaN,NaN,3.0,NaN,58.0,2126,58-6241-2126-,Washington,1,2007.0,...,1.0,2006.0,1,NaN,6241,NaN,2007,5100,0.0,10
12424,NaN,NaN,0.0,NaN,58.0,2126,58-6242-2126-,Washington,1,2007.0,...,1.0,2006.0,1,NaN,6242,NaN,2007,1800,0.0,10
12425,NaN,NaN,0.0,NaN,58.0,2126,58-6243-2126-,Washington,1,2007.0,...,1.0,2006.0,1,NaN,6243,NaN,2007,1900,0.0,10
12426,NaN,NaN,0.0,NaN,58.0,2126,58-6244-2126-,Washington,1,2007.0,...,1.0,2006.0,1,NaN,6244,NaN,2007,2000,0.0,10
12427,NaN,NaN,3.0,NaN,58.0,2126,58-6245-2126-,Washington,1,2007.0,...,1.0,2006.0,1,NaN,6245,NaN,2007,6700,0.0,10
12428,NaN,NaN,0.0,NaN,58.0,2126,58-6246-2126-,Washington,1,2007.0,...,1.0,2006.0,1,NaN,6246,NaN,2007,1700,0.0,10
12429,NaN,NaN,0.0,NaN,58.0,2126,58-6247-2126-,Washington,1,2007.0,...,1.0,2006.0,1,NaN,6247,NaN,2007,1900,0.0,10
12430,NaN,NaN,0.0,NaN,58.0,2126,58-6248-2126-,Washington,1,2007.0,...,1.0,2006.0,1,NaN,6248,NaN,2007,1700,0.0,10
12431,NaN,NaN,0.0,NaN,58.0,2126,58-6249-2126-,Washington,1,2007.0,...,1.0,2006.0,1,NaN,6249,NaN,2007,1600,0.0,10
12422,NaN,NaN,5.0,NaN,58.0,2486,58-6240-2486-,Washington,1,2010.0,...,1.0,2007.0,1,NaN,6240,NaN,2010,1000,0.0,1
12432,NaN,NaN,4.0,NaN,58.0,1745,58-6250-1745-,Waukesha,1,2009.0,...,1.0,2007.0,1,NaN,6250,NaN,2009,3800,0.0,12
12433,NaN,NaN,4.0,NaN,58.0,1745,58-6251-1745-,Waukesha,1,2009.0,...,1.0,2007.0,1,NaN,6251,NaN,2009,4400,0.0,12
12436,NaN,NaN,4.0,NaN,58.0,1745,58-6254-1745-,Waukesha,1,2009.0,...,1.0,2007.0,1,NaN,6254,NaN,2009,5800,0.0,12
12437,NaN,NaN,4.0,NaN,58.0,1745,58-6255-1745-,Waukesha,1,2009.0,...,1.0,2007.0,1,NaN,6255,NaN,2009,5400,0.0,12
12438,NaN,NaN,4.0,NaN,58.0,1745,58-6256-1745-,Waukesha,1,2009.0,...,1.0,2007.0,1,NaN,6256,NaN,2009,3700,0.0,12
12439,NaN,NaN,4.0,NaN,58.0,1745,58-6257-1745-,Waukesha,1,2009.0,...,1.0,2007.0,1,NaN,6257,NaN,2009,3500,0.0,12
12443,NaN,NaN,4.0,NaN,58.0,1745,58-6261-1745-,Waukesha,1,2009.0,...,1.0,2007.0,1,NaN,6261,NaN,2009,2000,0.0,12
12459,NaN,NaN,6.0,NaN,58.0,1745,58-6277-1745-,Waukesha,1,2009.0,...,1.0,2007.0,1,NaN,6277,NaN,2009,5000,0.0,12
12462,NaN,NaN,6.0,NaN,58.0,1745,58-6280-1745-,Waukesha,1,2009.0,...,1.0,2007.0,1,NaN,6280,NaN,2009,840,0.0,12
12464,NaN,NaN,5.0,NaN,58.0,1745,58-6282-1745-,Waukesha,1,2009.0,...,1.0,2007.0,1,NaN,6282,NaN,2009,1400,0.0,12
12465,NaN,NaN,6.0,NaN,58.0,1745,58-6283-1745-,Waukesha,1,2009.0,...,1.0,2007.0,1,NaN,6283,NaN,2009,1100,0.0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17072,The SR 9 Add Lanes & Rehabilitate Pavement Pro...,NaN,3.0,NaN,12.0,405506-2,12-9635-405506-2-The SR 9 Add Lanes & Rehabili...,Brevard,1,2010.0,...,1.0,2005.0,1,NaN,9635,1.0,2010,36500,0.0,6
17075,The SR 9 Add Lanes & Rehabilitate Pavement Pro...,NaN,3.0,NaN,12.0,405506-2,12-9636-405506-2-The SR 9 Add Lanes & Rehabili...,Brevard,1,2010.0,...,1.0,2005.0,1,NaN,9636,2.0,2010,39000,0.0,6
17078,The SR 9 Add Lanes & Rehabilitate Pavement Pro...,NaN,3.0,NaN,12.0,405506-2,12-9637-405506-2-The SR 9 Add Lanes & Rehabili...,Brevard,1,2010.0,...,1.0,2005.0,1,NaN,9637,3.0,2010,39000,0.0,6
16248,The Add Lanes & Reconstruct Project for SR 426...,0.950,3.0,NaN,12.0,404525-1,12-9319-404525-1-The Add Lanes & Reconstruct P...,Seminole,1,2006.0,...,1.0,2002.0,5,Pine Street to Clark Street,9319,1.0,2006,19900,0.0,8
16249,The Add Lanes & Reconstruct Project for SR 426...,0.950,3.0,NaN,12.0,404525-1,12-9319-404525-1-The Add Lanes & Reconstruct P...,Seminole,1,2016.0,...,2.0,2002.0,5,Pine Street to Clark Street,9319,1.0,2016,23500,0.0,8
16251,The Add Lanes & Reconstruct Project for SR 426...,0.950,3.0,NaN,12.0,404525-1,12-9320-404525-1-The Add Lanes & Reconstruct P...,Seminole,1,2006.0,...,1.0,2002.0,5,lark Street to Mitchel Hammock Road,9320,2.0,2006,19900,0.0,8
16252,The Add Lanes & Reconstruct Project for SR 426...,0.950,3.0,NaN,12.0,404525-1,12-9320-404525-1-The Add Lanes & Reconstruct P...,Seminole,1,2016.0,...,2.0,2002.0,5,lark Street to Mitchel Hammock Road,9320,2.0,2016,23500,0.0,8
17081,The Add Lanes & Reconstruct Project for SR 426...,0.950,3.0,NaN,12.0,404525-1,12-9638-404525-1-The Add Lanes & Reconstruct P...,Seminole,1,2006.0,...,1.0,2002.0,5,Pine Street to Clark Street,9638,1.0,2006,19900,0.0,8
17082,The Add Lanes & Reconstruct Project for SR 426...,0.950,3.0,NaN,12.0,404525-1,12-9638-404525-1-The Add Lanes & Reconstruct P...,Seminole,1,2016.0,...,2.0,2002.0,5,Pine Street to Clark Street,9638,1.0,2016,23500,0.0,8
17084,The Add Lanes & Reconstruct Project for SR 426...,0.950,3.0,NaN,12.0,404525-1,12-9639-404525-1-The Add Lanes & Reconstruct P...,Seminole,1,2006.0,...,1.0,2002.0,5,lark Street to Mitchel Hammock Road,9639,2.0,2006,19900,0.0,8
17085,The Add Lanes & Reconstruct Project for SR 426...,0.950,3.0,NaN,12.0,404525-1,12-9639-404525-1-The Add Lanes & Reconstruct P...,Seminole,1,2016.0,...,2.0,2002.0,5,lark Street to Mitchel Hammock Road,9639,2.0,2016,23500,0.0,8
16254,The SR 15/600 – Interchange (Major) Project In...,0.500,3.0,NaN,12.0,404418-1,12-9321-404418-1-The SR 15/600 – Interchange (...,Seminole,1,2006.0,...,1.0,2006.0,1,NaN,9321,1.0,2006,49000,0.0,8
16255,The SR 15/600 – Interchange (Major) Project In...,0.500,3.0,NaN,12.0,404418-1,12-9321-404418-1-The SR 15/600 – Interchange (...,Seminole,1,2016.0,...,2.0,2006.0,1,NaN,9321,1.0,2016,50500,0.0,8
16257,The SR 15/600 – Interchange (Major) Project In...,0.500,3.0,NaN,12.0,404418-1,12-9322-404418-1-The SR 15/600 – Interchange (...,Seminole,1,2006.0,...,1.0,2006.0,1,NaN,9322,2.0,2006,56500,0.0,8
16258,The SR 15/600 – Interchange (Major) Project In...,0.500,3.0,NaN,12.0,404418-1,12-9322-404418-1-The SR 15/600 – Interchange (...,Seminole,1,2016.0,...,2.0,2006.0,1,NaN,9322,2.0,2016,54500,0.0,8
17087,The SR 15/600 – Interchange (Major) Project In...,0.500,3.0,NaN,12.0,404418-1,12-9640-404418-1-The SR 15/600 – Interchange (...,Seminole,1,2006.0,...,1.0,2006.0,1,NaN,9640,1.0,2006,49000,0.0,8
17088,The SR 15/600 – Interchange (Major) Project In...,0.500,3.0,NaN,12.0,404418-1,12-9640-404418-1-The SR 15/600 – Interchange (...,Seminole,1,2016.0,...,2.0,2006.0,1,NaN,9640,1.0,2016,50500,0.0,8
17090,The SR 15/600 – Interchange (Major) Project In...,0.500,3.0,NaN,12.0,404418-1,12-9641-404418-1-The SR 15/600 – Interchange (...,Seminole,1,2006.0,...,1.0,2006.0,1,NaN,9641,2.0,2006,56500,0.0,8
17091,The SR 15/600 – Interchange (Major) Project In...,0.500,3.0,NaN,12.0,404418-1,12-9641-404418-1-The SR 15/600 – Interchange (...,Seminole,1,2016.0,...,2.0,2006.0,1,NaN,9641,2.0,2016,54500,0.0,8
16260,The Add-Lanes Project for SR 9 begin\n1.2 mile...,9.300,3.0,NaN,12.0,242696-1,12-9323-242696-1-The Add-Lanes Project for SR ...,Volusia,1,2003.0,...,1.0,2002.0,1,NaN,9323,1.0,2003,58500,0.0,4
16263,The Add-Lanes Project for SR 9 begin\n1.2 mile...,9.300,3.0,NaN,12.0,242696-1,12-9324-242696-1-The Add-Lanes Project for SR ...,Volusia,1,2003.0,...,1.0,2002.0,NaN,NaN,9324,2.0,2003,60500,0.0,4
17093,The Add-Lanes Project for SR 9 begin\n1.2 mile...,9.300,3.0,NaN,12.0,242696-1,12-9642-242696-1-The Add-Lanes Project for SR ...,Volusia,1,2003.0,...,1.0,2002.0,1,NaN,9642,1.0,2003,58500,0.0,4
17096,The Add-Lanes Project for SR 9 begin\n1.2 mile...,9.300,3.0,NaN,12.0,242696-1,12-9643-242696-1-The Add-Lanes Project for SR ...,Volusia,1,2003.0,...,1.0,2002.0,NaN,NaN,9643,2.0,2003,60500,0.0,4
17135,The SR 93 Resurfacing Project on SR 93 from SR...,7.266,3.0,NaN,12.0,416939-1,12-9656-416939-1-The SR 93 Resurfacing Project...,Sumter,1,2008.0,...,1.0,2006.0,5,MP 21.730 to South of SR 93,9656,1.0,2008,71500,0.0,2
17138,The SR 93 Resurfacing Project on SR 93 from SR...,7.266,3.0,NaN,12.0,416939-1,12-9657-416939-1-The SR 93 Resurfacing Project...,Sumter,1,2008.0,...,1.0,2006.0,5,North of SR 93 to MP 28.996,9657,2.0,2008,68000,0.0,2
17141,The SR 11 – Resurfacing Project include SR 11 ...,15.507,4.0,NaN,12.0,417141-1,12-9658-417141-1-The SR 11 – Resurfacing Proje...,Flagler,1,2008.0,...,1.0,2005.0,1,SR 11 North of Volusia County Line,9658,1.0,2008,2600,0.0,2
17144,The SR 11 – Resurfacing Project include SR 11 ...,15.507,4.0,NaN,12.0,417141-1,12-9659-417141-1-The SR 11 – Resurfacing Proje...,Flagler,1,2008.0,...,1.0,2005.0,1,SR 11 South of US 1,9659,2.0,2008,6000,0.0,2
17150,The SR 3 Resurfacing Project on SR 3 from 0.01...,5.897,3.0,NaN,NaN,417153-1,-9661-417153-1-The SR 3 Resurfacing Project on...,Brevard,1,2007.0,...,NaN,2005.0,4,(M.P. 3.858) to (M.P. 9.755),9661,1.0,2007,19200,0.0,1
17153,The SR 40 – Resurfacing Project from 269 ft ea...,13.336,3.0,NaN,NaN,417154-1,-9662-417154-1-The SR 40 – Resurfacing Project...,Volusia,1,2008.0,...,NaN,2005.0,1,SR 40 - 4.0 Miles East of US 17/SR 15,9662,1.0,2008,5800,0.0,2
17156,The SR 40 – Resurfacing Project from 269 ft ea...,13.336,3.0,NaN,NaN,417154-1,-9663-417154-1-The SR 40 – Resurfacing Project...,Volusia,1,2008.0,...,NaN,2005.0,1,SR 40 - 3.0 Miles East of SR 11,9663,2.0,2008,10800,0.0,2